.history-page {
  height: 100%;

  .histories-list {
    display: flex;
    flex-direction: column;

    .history-item {
      padding: 1rem;
      .history-header {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-bottom: 5px;
        .date-title {
          font-size: 1.1rem;
          font-weight: 500;
          color: #333;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .setting {
          font-size: 1.2rem;

          .remove-history {
            cursor: pointer;
          }
        }
      }
      .clothes-list {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        .clothes-item {
          border: 1px solid #ccc;
          position: relative;
          height: 200px;
          @media only screen and (max-width: 1200px) {
            height: 175px;
          }
          @media only screen and (max-width: 800px) {
            height: 150px;
          }
          @media only screen and (max-width: 500px) {
            height: 125px;
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          .like-btn {
            position: absolute;
            top: 0.1rem;
            right: 0.1rem;
            padding: 0.2rem;
            color: rgb(214, 0, 11);
            background-color: rgba(0, 0, 0, 0.1);
            width: 1.4rem;
            height: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: 0.2s;
          }
        }
      }
    }
  }
  .add-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;

    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pink);
    color: #fff;
    border-radius: 50%;
  }
}
